<a href="https://colab.research.google.com/github/Jihyesh/codestates_projects_section1/blob/main/AI_15_%ED%99%8D%EC%A7%80%ED%98%9C_Section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2.csv

In [3]:
df = pd.read_csv('vgames2.csv')
df.head()

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

##Mission
<font color='blue'>비데이터 직군</font>의 청자에게 데이터를 기반으로 위의 주제에 대해 설명하는 영상 제출
- **지역에 따라서 선호하는 게임 장르가 다를까** 라는 질문에 대답을 하셔야 합니다
- **연도별 게임의 트렌드가 있을까** 라는 질문에 대답을 하셔야 합니다
- **출고량의 높은 게임에 대한 분석 및 시각화 프로세스**가 포함되어야 합니다
- **결론적으로 다음 분기에 어떤 게임을 설계해야 하는지를 제시**하셔야 합니다
- 추가 인사이트

##EDA

In [ ]:
df.shape

(16598, 10)

In [ ]:
df.dtypes

Unnamed: 0       int64
Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales        object
EU_Sales        object
JP_Sales        object
Other_Sales     object
dtype: object

In [ ]:
df.sample(10)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
5988,5989,Jimmie Johnson's Anything With an Engine,Wii,2011.0,Racing,Konami Digital Entertainment,0.07,0,0,0.01
15253,15254,NBA Live 2005,PS2,2004.0,Sports,Electronic Arts,2.03,0.21,0,0.35
13037,13038,Vampire Night,PS2,2001.0,Shooter,Sony Computer Entertainment,0.07,0.05,0,0.02
11765,11766,Skate,X360,2007.0,Sports,Electronic Arts,0.62,0.04,0,0.06
4901,4902,Chaotic: Shadow Warriors,X360,2009.0,Action,Activision,0.14,0,0,0.01
14044,14045,Colin McRae Rally 3,PS2,2002.0,Racing,Codemasters,0.03,1.05,0.02,0.3
8751,8752,Final Fantasy Crystal Chronicles: Ring of Fates,DS,2007.0,Role-Playing,Square Enix,0.22,0.01,0.42,0.02
9250,9251,Madagascar,GBA,2005.0,Platform,Activision,0.62,0.24,0,0.03
15459,15460,Gekka Ryouran Romance,PSP,2011.0,Adventure,Idea Factory,0,0,0.02,0
7278,7279,Divinity: Original Sin,XOne,2015.0,Role-Playing,Focus Home Interactive,0.04,0.02,0,0.01

In [ ]:
df.isna().sum()

Unnamed: 0       0
Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

In [ ]:
df.describe()

         Unnamed: 0          Year
count  16598.000000  16327.000000
mean    8299.500000   1994.242543
std     4791.574219    155.077168
min        1.000000      0.000000
25%     4150.250000   2003.000000
50%     8299.500000   2007.000000
75%    12448.750000   2010.000000
max    16598.000000   2020.000000

###EDA-Year

In [ ]:
df.Year.dtype

dtype('float64')

In [ ]:
# Year missing value
df[df.Year.isnull()]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
31,32,Rock Band,X360,NaN,Misc,Electronic Arts,1.93,0.34,0,0.21
109,110,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,NaN,Racing,Unknown,0,0,0.02,0
273,274,Jewel Link Chronicles: Mountains of Madness,DS,NaN,Puzzle,Avanquest,0,0.06,0,0.01
358,359,Majesty 2: The Fantasy Kingdom Sim,X360,NaN,Simulation,Unknown,0.03,0,0,0
430,431,Famista 64,N64,NaN,Sports,Namco Bandai Games,0,0,0.17,0.03
...,...,...,...,...,...,...,...,...,...,...
16240,16241,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0,0,0
16275,16276,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0M,0.03
16278,16279,Madden NFL 11,Wii,NaN,Sports,Unknown,0.7,0,0,50K
16425,16426,Yoostar on MTV,X360,NaN,Misc,Unknown,0.06,0,0,0
16432,16433,Bejeweled 3,X360,NaN,Puzzle,Unknown,0.13,0,0,0.01

In [ ]:
df[df.Year.isnull()].shape[0]/df.shape[0]

0.016327268345583804

###EDA-Platform

In [ ]:
df[df.Platform.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

In [ ]:
df.Platform.unique()

array(['DS', 'Wii', 'PSP', 'PS3', 'PC', 'PS', 'GBA', 'PS4', 'PS2', 'XB',
       'X360', 'GC', '3DS', '2600', 'SAT', 'GB', 'NES', 'DC', 'N64',
       'XOne', 'SNES', 'WiiU', 'PSV', 'GEN', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [ ]:
df.Platform.nunique()

31

###EDA-Genre

In [ ]:
df[df.Genre.isnull()].shape[0]

50

In [ ]:
df[df.Genre.isnull()]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
50,51,Ape Escape: On the Loose,PSP,2005.0,NaN,Sony Computer Entertainment,0.52,0.01,0.12,0.05
408,409,NBA Ballers,XB,2004.0,NaN,Midway Games,0.37,0.11,0,0.02
1328,1329,NFL Street,XB,2004.0,NaN,Electronic Arts,0.49,0.15,0,0.02
1582,1583,SingStar Singalong With Disney,PS2,2008.0,NaN,Sony Computer Entertainment,0,0.04,0,0.57
1971,1972,Pokemon X/Pokemon Y,3DS,2013.0,NaN,Nintendo,5170K,4.05,4.34,0.79
2043,2044,NASCAR Racing,PS,1996.0,NaN,Pioneer LDC,0.23,0.16,0,0.03
2497,2498,Jurassic Park III: Island Attack,GBA,2001.0,NaN,Konami Digital Entertainment,0.13,0.05,0,0
3353,3354,The Godfather: Dons Edition,PS3,2007.0,NaN,Electronic Arts,0.25,0.02,0,0.03
3363,3364,Ski-Doo Snowmobile Challenge,X360,2009.0,NaN,Valcon Games,0.03,0,0,0
3470,3471,Batman Beyond: Return of the Joker,N64,2000.0,NaN,Ubisoft,0.07,0.02,0,0
3515,3516,Princess Saver! Eternal Love for My Lady,PS2,2010.0,NaN,Comfort,0,0,0.02,0
3932,3933,MVP Baseball 2004,PS2,2004.0,NaN,Electronic Arts,1.1,0.06,0,0.18
4148,4149,Grand Theft Auto IV,PC,2008.0,NaN,Take-Two Interactive,0.01,0.79,0,0.08
4349,4350,Brain Quest: Grades 5 & 6,DS,2008.0,NaN,Electronic Arts,0.11,0,0,0.01
4545,4546,Dragon Ball Z: Ultimate Tenkaichi,X360,2011.0,NaN,Namco Bandai Games,0.39,0.1,0.01,0.04
4598,4599,Wii Party,Wii,2010.0,NaN,Nintendo,1.79,3.53,2.49,0.68
4935,4936,Astonishia Story,PSP,2006.0,NaN,Ubisoft,0.03,0,0,0
5668,5669,Chrono Cross,PS,1999.0,NaN,SquareSoft,0.62,0.42,0.69,0.12
5713,5714,Back to the Future: The Game,XOne,2015.0,NaN,Telltale Games,0,0.02,0,0
5945,5946,Medabots: Metabee,GBA,2002.0,NaN,Natsume,0.04,0.01,0,0
6798,6799,UFO: Trilogy,PC,2007.0,NaN,Unknown,0,0.02,0,0
7143,7144,Largo Winch .// Commando Sar,PS,2002.0,NaN,Ubisoft,0.01,0.01,0,0
7336,7337,Madden NFL 11,PS2,2010.0,NaN,Electronic Arts,0.41,0.02,0,0.07
7526,7527,Ukiyo no Shishi,PS3,2015.0,NaN,Namco Bandai Games,0,0,0.03,0
7797,7798,Myth Makers: Orbs of Doom,Wii,2007.0,NaN,Popcorn Arcade,0.05,0,0,0
9488,9489,Final Fantasy XII,PS2,2006.0,NaN,Square Enix,1.88,0,2.33,1.74
10432,10433,The Mummy: Tomb of the Dragon Emperor,Wii,2008.0,NaN,Vivendi Games,0.08,0,0,0.01
10501,10502,Bakemonogatari Portable,PSP,2012.0,NaN,Namco Bandai Games,0,0,0.05,0
10874,10875,Karaoke Revolution Glee: Volume 3,Wii,2011.0,NaN,Konami Digital Entertainment,0.24,0.04,0,0.02
11050,11051,Puppy Palace,DS,2008.0,NaN,Ubisoft,0.35,0,0,0.03
11063,11064,Yakuza 3,PS3,2009.0,NaN,Sega,0.21,0.21,0.62,0.08
11268,11269,Cloudy With a Chance of Meatballs,PS3,2009.0,NaN,Ubisoft,0.09,0.01,0,0.01
11496,11497,F-Zero X,N64,1998.0,NaN,Nintendo,0.45,0.33,0.29,0.03
11668,11669,The History Channel: Battle for the Pacific,Wii,2007.0,NaN,Activision,0.1,0,0,0.01
11699,11700,Time Travelers,PSV,2012.0,NaN,Level 5,0,0,0.05,0
12314,12315,Ice Hockey,2600,1980.0,NaN,Activision,0.46,0.03,0,0.01
12331,12332,Onimusha: Warlords,PS2,2001.0,NaN,Virgin Interactive,0.99,0.48,1.09,0.14
12340,12341,Virtual Chess 64,N64,1998.0,NaN,Titus,0.05,0.01,0,0
12870,12871,PQ2: Practical Intelligence Quotient,PSP,2006.0,NaN,D3Publisher,0.04,0,0,0
12982,12983,Urban Chaos,PS,1999.0,NaN,Eidos Interactive,0.06,0.04,0,0.01
13348,13349,Treasure Report: Kikai Jikake no Isan,DS,2011.0,NaN,Namco Bandai Games,0,0,0.05,0
14930,14931,Skylanders Giants,PS3,2012.0,NaN,Activision,0.35,0.52,0,0.22
15077,15078,Myth Makers: Super Kart GP,Wii,2007.0,NaN,Popcorn Arcade,0.01,0,0,0
15211,15212,James Bond 007: Nightfire,XB,2002.0,NaN,Electronic Arts,0.58,220K,0,0.03
15426,15427,"WarioWare, Inc.: Mega Party Game$",GC,2003.0,NaN,Nintendo,0.2,0.05,0.44,0.02
15526,15527,Bloodborne,PS4,2015.0,NaN,Sony Computer Entertainment,1,0.76,0.26,0.36
16091,16092,Brain Boost: Beta Wave,DS,2005.0,NaN,505 Games,0.14,0,0,0.01
16431,16432,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16555,16556,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,16588,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1

In [ ]:
df.Genre.unique()

array(['Action', 'Adventure', 'Misc', 'Platform', 'Sports', 'Simulation',
       'Racing', 'Role-Playing', 'Puzzle', 'Strategy', 'Fighting',
       'Shooter', nan], dtype=object)

In [ ]:
df[df.Genre == 'Platform']

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
20,21,Ty the Tasmanian Tiger,PS2,2002.0,Platform,Electronic Arts,0.57,0.45,0,0.15
25,26,Dr. Muto,GC,2002.0,Platform,Midway Games,0.02,0.01,0,0
28,29,Famicom Mini: Makaimura,GBA,2004.0,Platform,Capcom,0,0,0.08,0
34,35,Mega Man Anniversary Collection,PS2,2004.0,Platform,Capcom,0.29,0.22,0,0.08
...,...,...,...,...,...,...,...,...,...,...
16531,16532,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.7,2.26
16563,16564,Wall-E,Wii,2008.0,Platform,THQ,0.51,0.4,0,0.11
16578,16579,Gex: Enter the Gecko,PS,1998.0,Platform,BMG Interactive Entertainment,320K,0.22,0,0.04
16579,16580,Super Ghouls 'n Ghosts,GBA,2002.0,Platform,Capcom,0.05,0.02,0,0
16593,16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01

###EDA-PUblisher

In [ ]:
df[df.Publisher.isnull()]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
272,273,UK Truck Simulator,PC,2010.0,Simulation,NaN,0,0.03,0,0
1313,1314,All Grown Up!: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.17,0.06,0,0
1560,1561,Teenage Mutant Ninja Turtles: Game Boy Advance...,GBA,2004.0,Misc,NaN,0.12,0.04,0,0
1789,1790,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.16,0.06,0,0
1879,1880,Monster Hunter Frontier Online,PS3,NaN,Role-Playing,NaN,0,0,0.05,0
1961,1962,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.46,0.17,0,0.01
2070,2071,World of Tanks,X360,NaN,Shooter,NaN,0,0.03,0,0
2970,2971,Chou Soujuu Mecha MG,DS,NaN,Simulation,NaN,0,0,0.06,0
3184,3185,Action Man-Operation Extreme,PS,NaN,Action,NaN,0.05,0.03,0,0.01
3412,3413,Dance with Devils,PSV,2016.0,Action,NaN,0,0,0.01,0
3533,3534,B.L.U.E.: Legend of Water,PS,NaN,Adventure,NaN,0,0,0.04,0
3562,3563,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0,0.41
3639,3640,Homeworld Remastered Collection,PC,NaN,Strategy,NaN,0,0.01,0,0
3684,3685,Dragon Ball GT: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.12,0.05,0,0
4308,4309,Umineko no Naku Koro ni San: Shinjitsu to Gens...,PS3,NaN,Adventure,NaN,0,0,0.02,0
4367,4368,Strawberry Shortcake: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.11,0.04,0,0
5207,5208,Cartoon Network Collection: Game Boy Advance V...,GBA,2005.0,Misc,NaN,0.23,0.08,0,0.01
5245,5246,Cartoon Network Collection: Game Boy Advance V...,GBA,2005.0,Misc,NaN,0.11,0.04,0,0
5387,5388,"Moshi, Kono Sekai ni Kami-sama ga Iru to suru ...",PSV,2016.0,Adventure,NaN,0,0,0.02,0
6209,6210,Atsumare! Power Pro Kun no DS Koushien,DS,NaN,Sports,NaN,0,0,0.1,0
6392,6393,Brothers in Arms: Furious 4,X360,NaN,Shooter,NaN,0.01,0,0,0
7370,7371,Stronghold 3,PC,2011.0,Strategy,NaN,0.06,0.1,0,0
7984,7985,Disney Channel Collection Vol. 1,GBA,2004.0,Misc,NaN,0.08,0.03,0,0
8038,8039,Super Robot Monkey Team: Game Boy Advance Vide...,GBA,2005.0,Misc,NaN,0.01,0,0,0
8236,8237,Bentley's Hackpack,GBA,2005.0,Misc,NaN,0.67,0.25,0,0.02
8355,8356,Cartoon Network Collection: Game Boy Advance V...,GBA,2004.0,Misc,NaN,0.06,0.02,0,0
8651,8652,Sonic the Hedgehog,PS3,NaN,Platform,NaN,0,0.48,0,0
8873,8874,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0,0.01,0,0
9128,9129,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004.0,Misc,NaN,0.31,0.11,0,0.01
9684,9685,Dragon Ball Z: Budokai Tenkaichi 2 (JP sales),Wii,NaN,Action,NaN,0.15,0.05,0.14,0.01
9877,9878,Mario Tennis,3DS,NaN,Sports,NaN,0,0,0.02,0
10156,10157,The Legend of Zelda: The Minish Cap(weekly JP ...,GBA,NaN,Action,NaN,0,0,0.27,0.01
10223,10224,Demolition Company: Gold Edition,PC,2011.0,Simulation,NaN,0,0.02,0,0
11309,11310,Triple Play 99,PS,NaN,Sports,NaN,0.81,0.55,0,0.1
11498,11499,Nicktoons Collection: Game Boy Advance Video V...,GBA,2005.0,Misc,NaN,0.01,0.01,0,0
11641,11642,AKB1/48: Idol to Guam de Koishitara...,X360,NaN,Misc,NaN,0,0,0.01,0
11676,11677,Farming Simulator 2011,PC,2010.0,Simulation,NaN,0,0.13,0,0
12126,12127,Silverlicious,DS,2012.0,Action,NaN,0.03,0,0,0
12176,12177,Dora the Explorer: Game Boy Advance Video Volu...,GBA,2004.0,Misc,NaN,0.18,0.07,0,0
12468,12469,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004.0,Misc,NaN,0.3,0.11,0,0.01
12560,12561,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.15,0.05,0,0
12900,12901,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.46,0.17,0,0.01
13182,13183,Sonic X: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.19,0.07,0,0
13204,13205,Xia-Xia,DS,2012.0,Platform,NaN,0,0.02,0,0
13450,13451,Bikkuriman Daijiten,DS,NaN,Misc,NaN,0,0,0.03,0
13766,13767,Housekeeping,DS,NaN,Action,NaN,0,0,0.04,0
13810,13811,Pokémon: Johto Photo Finish: Game Boy Advance ...,GBA,2004.0,Misc,NaN,0.11,0.04,0,0
13837,13838,Cartoon Network Collection: Game Boy Advance V...,GBA,2004.0,Misc,NaN,0.18,0.07,0,0
13923,13924,Prinny: Can I Really Be The Hero? (US sales),PSP,NaN,Action,NaN,0.06,0,0,0
14383,14384,Thomas the Tank Engine & Friends,GBA,2004.0,Adventure,NaN,0.13,0.05,0,0
14474,14475,Driving Simulator 2011,PC,2011.0,Racing,NaN,0M,0.01,0,0
14828,14829,Codename: Kids Next Door: Game Boy Advance Vid...,GBA,2004.0,Misc,NaN,0.12,0.05,0,0
15151,15152,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.38,0.14,0,0.01
15368,15369,Shrek / Shrek 2 2-in-1 Gameboy Advance Video,GBA,2007.0,Misc,NaN,0.87,0.32,0,0.02
15669,15670,Yu Yu Hakusho: Dark Tournament,PS2,NaN,Fighting,NaN,0.1,0.08,0,0.03
15805,15806,Dream Dancer,DS,NaN,Misc,NaN,0.01,0,0,0
16067,16068,Bound By Flame,X360,2014.0,Role-Playing,NaN,0,0.01,0,0
16130,16131,Super Robot Wars OG Saga: Masou Kishin II - Re...,PSP,NaN,Strategy,NaN,0,0,0.12,0

In [ ]:
df.Publisher.unique()

array(['Destineer', 'Namco Bandai Games', 'Alchemist', 'Zoo Games',
       'D3Publisher', 'Konami Digital Entertainment', 'Deep Silver',
       'Tecmo Koei', 'Sega', 'THQ', 'Empire Interactive', 'Ubisoft',
       'Paradox Interactive', '505 Games', 'Tomy Corporation',
       'Eidos Interactive', 'Microsoft Game Studios',
       'Nippon Ichi Software', 'Kalypso Media', 'Electronic Arts',
       'Sony Computer Entertainment', 'Activision',
       'Tru Blu Entertainment', 'Warner Bros. Interactive Entertainment',
       'Midway Games', 'Mindscape', 'Wargaming.net', 'Capcom',
       'Acclaim Entertainment', 'Unknown', 'Nintendo',
       'Disney Interactive Studios', 'Crave Entertainment', 'Sunflowers',
       'Arc System Works', 'Milestone S.r.l', 'Kamui', 'Hudson Soft',
       'Square Enix', 'Focus Home Interactive', 'Take-Two Interactive',
       'Game Factory', 'Takara Tomy', 'SquareSoft', 'Global Star',
       'Infogrames', 'GT Interactive', 'Storm City Games',
       'Gathering of Developers', 'Giza10', 'Imagineer', 'Atari',
       'SouthPeak Games', 'Graffiti', 'Banpresto', 'Gust',
       'From Software', 'TDK Mediactive', '5pb', 'Nobilis', 'Taito',
       'Foreign Media Games', 'Nippon Columbia', 'Vivendi Games',
       'Codemasters', 'Bethesda Softworks', '3DO', 'Enix Corporation',
       'Ignition Entertainment', 'ASCII Media Works',
       'Virgin Interactive', 'Easy Interactive', 'SCi', 'Idea Factory',
       'Jaleco', 'Majesco Entertainment', 'ArtDink', 'System Soft',
       'CBS Electronics', 'Kaga Create', 'Phantagram',
       'Zoo Digital Publishing', 'BAM! Entertainment',
       'Jester Interactive', 'Quinrose', 'Game Arts', 'Headup Games',
       'Rising Star Games', 'TGL', 'Gremlin Interactive Ltd', nan,
       'Avanquest', '10TACLE Studios', 'Activision Value', 'responDESIGN',
       'Rage Software', 'Little Orbit', 'Marvelous Interactive',
       'Marvelous Entertainment', 'Kadokawa Shoten', 'Compile Heart',
       'Takara', 'Seta Corporation', 'Comfort', 'LucasArts',
       'NEC Interchannel', 'SNK Playmore', 'Russel', 'FuRyu',
       'dramatic create', 'Koch Media', 'LSP Games', 'Microids',
       'Psygnosis', 'Culture Brain', 'Saurus', 'Hackberry',
       'FuRyu Corporation', 'Midas Interactive Entertainment',
       'Office Create', 'Media Factory', 'Asylum Entertainment',
       'ValuSoft', 'Universal Interactive', 'bitComposer Games',
       'Rocket Company', 'Atlus', 'Number None', 'Genki', 'Compile',
       'Telltale Games', 'UFO Interactive', 'Magix', 'NewKidCo', 'Coleco',
       'TopWare Interactive', 'Harmonix Music Systems', 'Sting',
       'Hudson Entertainment', 'Ghostlight', 'Sunsoft', 'Spike',
       'Home Entertainment Suppliers', 'Screenlife', 'Moss',
       'Ubisoft Annecy', 'Oxygen Interactive', 'Kemco', 'P2 Games',
       'Datam Polystar', 'Palcom', 'Enterbrain', 'Starfish',
       '20th Century Fox Video Games', 'Xplosiv', 'Scholastic Inc.',
       'Phenomedia', 'GOA', 'Yamasa Entertainment', 'MTV Games', 'PQube',
       'Aqua Plus', 'Daedalic', 'ASCII Entertainment', 'Nordic Games',
       'Ongakukan', 'Interchannel-Holon', 'Avanquest Software',
       'Black Bean Games', 'DTP Entertainment', 'NEC',
       'Black Label Games', 'O3 Entertainment', 'Micro Cabin',
       'Marvel Entertainment', 'Telegames', 'Hasbro Interactive',
       'Tigervision', 'Funsta', 'Kadokawa Games', 'Success', 'Level 5',
       'Sammy Corporation', 'Axela', 'Milestone S.r.l.',
       'Agatsuma Entertainment', 'Vap', 'System 3 Arcade Software',
       'Broccoli', 'Media Rings', 'Interplay', 'Swing! Entertainment',
       'Fox Interactive', 'Aques', 'DreamCatcher Interactive',
       'General Entertainment', 'Sony Online Entertainment', 'Shogakukan',
       'Rebellion', 'Starpath Corp.', 'Square', 'Quintet', 'Touchstone',
       'Mumbo Jumbo', 'Epoch', 'Parker Bros.', 'TDK Core',
       'Mattel Interactive', 'Prototype', 'Merscom LLC',
       'Insomniac Games', 'Human Entertainment', 'Nichibutsu',
       'Playlogic Game Factory', 'Ocean',
       'Cloud Imperium Games Corporation', 'Funcom',
       'Hamster Corporation', 'Idea Factory International',
       'Destination Software, Inc', 'DHM Interactive', 'Myelin Media',
       'SNK', 'Licensed 4U', 'GSP', 'City Interactive', 'PopCap Games',
       'AQ Interactive', 'Victor Interactive', 'Titus',
       'Excalibur Publishing', 'Popcorn Arcade', 'Valcon Games', 'Mojang',
       'Metro 3D', 'Vatical Entertainment', 'ChunSoft', 'Astragon',
       'CyberFront', 'Big Ben Interactive', 'Big Fish Games',
       'Conspiracy Entertainment', 'Naxat Soft', 'Paon Corporation',
       'Bigben Interactive', 'MediaQuest', 'Blast! Entertainment Ltd',
       'Data Design Interactive', 'Nexon', 'Neko Entertainment', 'iWin',
       'Introversion Software', 'GameMill Entertainment', 'Play It',
       'Asgard', 'Pioneer LDC', 'ASC Games', '989 Studios', 'MTO',
       'Mercury Games', 'Navarre Corp', 'Boost On', 'Maxis', 'Rondomedia',
       'MC2 Entertainment', 'CDV Software Entertainment', 'Funbox Media',
       'Angel Studios', 'Xseed Games', 'Performance Designed Products',
       'Sony Computer Entertainment Europe', 'Wanadoo',
       'Lexicon Entertainment', 'Aruze Corp', 'Virtual Play Games',
       'Seventh Chord', 'JoWood Productions', 'Pinnacle',
       'Iceberg Interactive', 'Agetec', 'Mastertronic', 'Vic Tokai',
       'ITT Family Games', 'Gameloft', 'Sony Music Entertainment',
       'Mastiff', 'imageepoch Inc.', 'Arena Entertainment', 'TOHO',
       'Bomb', 'Interchannel', 'LEGO Media', 'Grand Prix Games', 'Mitsui',
       'Zushi Games', 'O-Games', 'NCSoft', 'Arika', 'CPG Products',
       'Slitherine Software', 'Alternative Software', 'Data Age',
       'Plenty', 'PlayV', 'Karin Entertainment', 'Knowledge Adventure',
       'Valve Software', 'Gotham Games', 'Genterprise', 'G.Rev',
       'Kids Station', 'Asmik Ace Entertainment',
       'Monte Christo Multimedia', 'Cave', 'Milestone', 'Views',
       'Benesse', 'Encore', 'XS Games', 'Avalon Interactive',
       'EON Digital Entertainment', 'Mentor Interactive',
       'Irem Software Engineering', 'Brash Entertainment',
       'Flashpoint Games', 'Imagic', 'KID', 'Media Works', 'Altron',
       'Mirai Shounen', 'SSI', 'Strategy First',
       'Ascaron Entertainment GmbH', 'Natsume', 'Warashi', 'IE Institute',
       'Warp', 'Mad Catz', 'NCS', 'The Learning Company', 'Sweets',
       'Game Life', 'HMH Interactive', 'Xicat Interactive',
       'Rebellion Developments', 'Yeti', 'Ackkstudios',
       'CokeM Interactive', 'Evolved Games', 'Video System',
       'Aksys Games', 'PM Studios', 'Coconuts Japan',
       'Sunrise Interactive', 'Bohemia Interactive', "Yuke's", 'Tivola',
       'GungHo', 'Tradewest', 'Tommo', 'GN Software', 'Gaga', 'Aspyr',
       'Trion Worlds', 'Revolution (Japan)', 'Misawa', 'Pack-In-Video',
       'Hect', 'TalonSoft', 'Aerosoft', 'RTL', 'Minato Station',
       'Activision Blizzard', 'Playmates', 'CTO SpA',
       'BMG Interactive Entertainment', 'Media Entertainment',
       'Hip Interactive', 'Acquire', 'Jack of All Games',
       'The Adventure Company', 'Epic Games', 'DSI Games', 'Fortyfive',
       'Indie Games', 'NovaLogic', 'Happinet', 'Reef Entertainment',
       'Masque Publishing', 'Imadio', 'Microprose', 'Falcom Corporation',
       'Square EA', 'Red Storm Entertainment', 'Dusenberry Martin Racing',
       'Sonnet', 'Tripwire Interactive', 'RED Entertainment',
       'Global A Entertainment', 'Athena', 'Groove Games',
       'Mud Duck Productions', 'Ertain', 'System 3', 'Marvelous Games',
       'Gamecock', 'Panther Software', 'Playmore', 'Vir2L Studios',
       'mixi, Inc', 'HAL Laboratory', 'BushiRoad', 'Jorudan', 'JVC',
       'Alawar Entertainment', 'Inti Creates', 'Laguna', 'NetRevo',
       'Daedalic Entertainment', 'Time Warner Interactive',
       'Slightly Mad Studios', 'Max Five', 'Devolver Digital', 'CCP',
       'Flight-Plan', 'Quelle', 'Dorart', 'ESP', 'Answer Software',
       'Phoenix Games', 'Yumedia', 'Elite', 'Elf', 'Nordcurrent', 'New',
       'Paon', 'Nihon Falcom Corporation', 'Commseed', 'BPS', 'Tryfirst',
       'FunSoft', 'Legacy Interactive', 'Princess Soft',
       'Graphsim Entertainment', 'Creative Core',
       'Electronic Arts Victor', 'Mamba Games', 'Her Interactive',
       'Maximum Family Games', 'DreamWorks Interactive', 'Detn8 Games',
       'Universal Gamex', 'Hearty Robin', 'GameTek', 'RedOctane',
       'U.S. Gold', 'Wizard Video Games',
       'Sony Computer Entertainment America', 'Telstar',
       'Yacht Club Games', 'PopTop Software', 'Experience Inc.',
       'Michaelsoft', 'Gakken', 'T&E Soft', 'Origin Systems',
       'Gainax Network Systems', 'inXile Entertainment',
       'Focus Multimedia', 'SCS Software', 'Hello Games',
       'Essential Games', 'Xing Entertainment', 'Riverhillsoft',
       '1C Company', 'Data East', 'Mycom', '7G//AMES', 'DigiCube', 'Fuji',
       'Simon & Schuster Interactive', 'Pow',
       'Pacific Century Cyber Works', 'Extreme Entertainment Group',
       'Image Epoch', 'Core Design Ltd.', 'Otomate', 'Piacci', 'ASK',
       'WayForward Technologies', 'Pack In Soft', 'Red Orb', 'Takuyo',
       'UIG Entertainment', 'Crystal Dynamics', 'Blue Byte', 'Rain Games',
       'Gamebridge', 'New World Computing', 'fonfun', 'Berkeley',
       'Interworks Unlimited, Inc.', 'Societa', 'On Demand',
       'Crimson Cow', 'Griffin International', 'Visco', 'Syscom',
       'King Records', 'Tetris Online', 'EA Games', 'Locus',
       'Paradox Development', 'Nippon Telenet', 'Accolade', 'id Software',
       'HuneX', 'Interplay Productions', 'Evolution Games',
       'Kokopeli Digital Studios', 'Ascaron Entertainment', '989 Sports',
       'Illusion Softworks', 'Kando Games', 'Pony Canyon', 'Intergrow',
       'Glams', 'Nitroplus', 'Zenrin', 'Team17 Software', 'Fields',
       'Havas Interactive', '49Games', 'Alvion', 'Quest', 'Imageworks',
       'Stainless Games', 'Daito', 'Enjoy Gaming ltd.', 'Aria',
       'Kool Kizz', 'Sold Out', 'Magical Company', 'Imax', 'Summitsoft',
       'Cygames', 'Men-A-Vision', 'Adeline Software',
       'Revolution Software', 'Valve', 'Codemasters Online', 'TYO',
       'Phantom EFX', 'Liquid Games', 'American Softworks', 'SPS',
       'Sears', 'Edia', 'Nippon Amuse', 'Asmik Corp', 'MLB.com',
       'White Park Bay Software', 'Abylight', 'Ecole', 'TechnoSoft',
       'Culture Publishers', 'Ivolgamus', '2D Boy',
       'Technos Japan Corporation', 'Giga', 'Westwood Studios',
       'UEP Systems', 'KSS', 'Type-Moon', 'Ultravision',
       'Lighthouse Interactive', 'NDA Productions', 'Mystique',
       'Just Flight'], dtype=object)

In [ ]:
df.Publisher.nunique()

578

###EDA-Sales

In [ ]:
df.sample(15)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10544,10545,Catwoman,GC,2004.0,Action,Electronic Arts,50K,0.01,0,0
11459,11460,Rio,DS,2011.0,Misc,THQ,0.12,0.03,0,0.01
128,129,Rozen Maiden: Gebetgarten,PS2,2007.0,Fighting,Taito,0,0K,0.01,0
4246,4247,ArmA III,PC,2013.0,Shooter,Bohemia Interactive,0,0.1,0,0.02
11662,11663,Dragoneer's Aria,PSP,2007.0,Role-Playing,Tecmo Koei,0.02,0,0.05,0
1198,1199,NCAA Football 2003,XB,2002.0,Sports,Electronic Arts,0.39,0.11,0,0.02
15903,15904,Yu-Gi-Oh! 5D's Tag Force 6,PSP,2011.0,Strategy,Konami Digital Entertainment,0,0,0.16,0
13951,13952,Top Gun: Hard Lock,X360,2012.0,Action,505 Games,0.03,0.02,0,0
8769,8770,Street Fighter Collection,SAT,1996.0,Fighting,Capcom,0,0,0.11,0
5863,5864,Samurai Warriors 2,PS2,2006.0,Action,Tecmo Koei,0.02,0.02,0.57,0.01
10609,10610,Disney's Story Studio: Disney's Mulan,PS,1999.0,Misc,Sony Computer Entertainment,0.09,0.06,0,0.01
395,396,The Settlers II 10th Anniversary,PC,2006.0,Action,Ubisoft,0,0.02,0,0
7373,7374,Enslaved: Odyssey to the West,PS3,2010.0,Action,Namco Bandai Games,0.24,0.24,0.01,0.09
8782,8783,Harry Potter and the Goblet of Fire,XB,2005.0,Action,Electronic Arts,0.18,0.05,0,0.01
7120,7121,Call of Duty: Black Ops,Wii,2010.0,Shooter,Activision,0.82,0.47,0,0.12

In [ ]:
# K, M 있는 것만 꺼내보자
# foo[foo.b.str.contains('oo', regex= True, na=False)]

# df.columns
# 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'

df[df.NA_Sales.str.contains('M',regex=True, na=False)]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
447,448,Medal of Honor: Warfighter,X360,2012.0,Action,Electronic Arts,0.58M,0.47,0.01,0.1
458,459,F1 2010,PS3,2010.0,Racing,Codemasters,0.25M,0.76,0.08,0.27
577,578,Mario Kart 64,N64,1996.0,Racing,Nintendo,5.55M,1.94,2.23,0.15
625,626,The Hobbit,GBA,2003.0,Platform,Vivendi Games,0.14M,0.05,0,0
672,673,Star Wars The Clone Wars: Lightsaber Duels,Wii,2008.0,Action,LucasArts,1.23M,0.3,0,0.14
...,...,...,...,...,...,...,...,...,...,...
15986,15987,Juiced 2: Hot Import Nights,PC,2007.0,Racing,THQ,0M,0.01,0,0
16152,16153,Taiko no Tatsujin Wii,Wii,2008.0,Misc,Namco Bandai Games,0M,0,0.67,0
16169,16170,Medal of Honor: Airborne,X360,2007.0,Shooter,Electronic Arts,0.45M,0.53,0.01,0.12
16408,16409,NASCAR 06: Total Team Control,PS2,2005.0,Racing,Electronic Arts,0.53M,0.02,0,0.09
16482,16483,Super Robot Taisen F Kanketsuhen,SAT,98.0,Strategy,Banpresto,0M,0,0.55,0

In [ ]:
df[df.NA_Sales.str.contains('K',regex=True, na=False)]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10,11,Ford Racing,PS,2001.0,Racing,Empire Interactive,480K,0.33M,0K,0.06
45,46,Resident Evil: Revelations 2,PS3,2015.0,Action,Capcom,60K,0.08,0.16,0.03
145,146,TOCA Race Driver 3,PC,2006.0,Racing,Codemasters,0K,0.02,0,0
878,879,Tears to Tiara Anecdotes: The Secret of Avalon,PS3,2009.0,Strategy,Aqua Plus,0K,0,0.04,0
1086,1087,Pro Evolution Soccer 2014,3DS,2013.0,Action,Konami Digital Entertainment,0K,0,0.19,0
...,...,...,...,...,...,...,...,...,...,...
15647,15648,Championship Manager 2010,PC,2009.0,Sports,Eidos Interactive,0K,0.01,0,0
16194,16195,Vin Diesel: Wheelman,PS3,2009.0,Racing,Ubisoft,120K,0.15,0,0.06
16330,16331,Midway Arcade Treasures,PS2,2003.0,Misc,Midway Games,720K,0.56,0,0.19
16492,16493,Mortal Kombat,PSV,2012.0,Fighting,Warner Bros. Interactive Entertainment,470K,0.18,0,0.12
16578,16579,Gex: Enter the Gecko,PS,1998.0,Platform,BMG Interactive Entertainment,320K,0.22,0,0.04

In [ ]:
df[df.iloc[:,-1].str.contains('M',regex=True, na=False)]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
64,65,SD Gundam Force,GBA,2004.0,Shooter,Namco Bandai Games,0.01,0,0,0M
73,74,Teenage Mutant Ninja Turtles,XB,2003.0,Action,Konami Digital Entertainment,0.22,0.06,0,0.01M
209,210,Harry Potter and the Sorcerer's Stone,XB,2003.0,Action,Electronic Arts,0.05,0.02,0,0M
220,221,Dragon Quest IV: Michibikareshi Monotachi,PS,2001.0,Role-Playing,Enix Corporation,0,0,1.2,0.01M
243,244,Seaman 2: Peking Genjin Ikusei Kit,PS2,2007.0,Simulation,Sega,0,0,0.06,0M
...,...,...,...,...,...,...,...,...,...,...
15998,15999,Pro Yakyuu Family Stadium,NES,1986.0,Sports,Namco Bandai Games,0.15,0,2.05,0M
16036,16037,Point Blank 2,PS,1998.0,Shooter,Namco Bandai Games,0.02,0.02,0,0M
16074,16075,The Black Eyed Peas Experience,Wii,2011.0,Misc,Ubisoft,0.39,0.2,0,0.06M
16141,16142,World Championship Poker: Featuring Howard Led...,PS2,2006.0,Misc,Oxygen Interactive,0.82,0.64,0,0.22M
16412,16413,Yu-Gi-Oh! Ultimate Masters: World Championship...,GBA,2006.0,Misc,Konami Digital Entertainment,0.14,0.05,0.07,0.01M

####Codes to test 🙅

In [ ]:
df_test = df.copy()

#####<font color = 'grey'>not working</font>

Delete non-number in characters using regular expression

`re.sub(pattern, new, string)`<br>
string에서 pattern에 해당하는 부분을 new로 대체하라는 의미 <br>
(replace 'pattern' with 'new' in 'string')

```python
# 함수를 만들어 구현
import re

def convert(phone_number):
  phone_number = re.sub(r"/D","", phone_number)[-8:]   #\D = [^0-9] \d = [0-9]
  final_number = '010' + '-' + phone_number[:4] + '-' + phone_number[-4:]
  return final_number
  
# 만든 함수를 .apply() 함수를 이용해 적용
patients_clean.전화번호 = patients_clean.전화번호.apply(convert)
```

[pandas.DataFrame.astype](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html)
- DataFrame.astype(dtype, copy=True, errors='raise')
- Cast a pandas object to a specified dtype dtype. <pr>

[Column에서 astype을 쓰는 방법](https://cosmosproject.tistory.com/123)
```python
df_test.loc[:, ['col1']] = df_test.loc[:, ['col1']].astype('str')
```

In [ ]:
import re

def convert(sales_figure):
  sales_figure = re.sub(r"\D","",sales_figure)
  # sales_figure = sales_figure.astype(float)
  return sales_figure

[range(start, stop, step)](https://www.geeksforgeeks.org/python-range-function/)

- start: integer starting from which the sequence of integers is to be returned
- stop: integer before which the sequence of integers is to be returned. The range of integers ends at stop – 1.
- step: integer value which determines the increment between each integer in the sequence

In [ ]:
for i in range(1,5,1):
  df_test.iloc[:,-i] = df_test.iloc[:,-i].apply(convert)

AttributeError: ignored

In [ ]:
for i in range(1,5,1):
  df_test.iloc[:,-i] = df_test.iloc[:,-i].astype(float)

ValueError: ignored

#####**working**

In [ ]:
import re

def convert(sales_figure):
  sales_figure = re.sub(r"\D","",sales_figure)

  return sales_figure

In [ ]:
df_test.iloc[:,-1]=df_test.iloc[:,-1].apply(convert)

In [ ]:
df_test.iloc[[64]]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
64,65,SD Gundam Force,GBA,2004.0,Shooter,Namco Bandai Games,0.01,0,0,0M

In [ ]:
for i in range(1,5,1):
  df_test.iloc[:,-i] = df_test.iloc[:,-i].apply(convert)

#####<font color = 'grey'>not working</font>

In [ ]:
index_list = df[df.NA_Sales.str.contains('M',regex=True, na=False) | df.EU_Sales.str.contains('M',regex=True, na=False) | \
                df.JP_Sales.str.contains('M',regex=True, na=False) | df.Other_Sales.str.contains('M',regex=True, na=False) ].index.tolist()
index_list

In [ ]:
df_test[[index_list,:]]

SyntaxError: ignored

#####working

**First of all, `search` for the rows to be fixed. This process results in a list of True/False**

```python
import re

def has_errors(inputString):
  return bool(re.search('[_,!,.,\d+]', inputString))
  
  # (설명)re.search --- inputString arguments에 _ ! . \d+ 숫자(한 개 이상 +) 찾으면 
  # (설명) bool --- True/False로 나온다
```

```python
# 이름에 섞여 있는 오류 데이터를 확인
error_condition = patients_clean.이름.apply(has_errors)
error_names = patients_clean[error_condition]
error_names

 # (설명) error_condition에 어떤 조건을 넣고, 그 조건이 맞는 데이터프레임을 error_name으로 불러옴
 ```

 
**Second, `replace` characters in values of the rows that has been searched in the first step**
```python
# 코드가 정확하게 오류를 제거하는지 확인
error_names.이름 = error_names.이름.str.replace('[_,!,.,\d+]','')
error_names

# (설명) str.replace()는 시리즈에서 _,!,.,\d+를 없애는 것으로 대체함
```
**Finally, apply the same `str.replace` method to the target DataFrame**
```python
# 제거된 것을 확인하였으면, 환자데이터 이름 컬럼에 적용
patients_clean.이름 = patients_clean.이름.str.replace('[_,!,.,\d+]','')
```

In [ ]:
import re

def has_errors(inputString):
  return bool(re.search('[M,K]',inputString))

In [ ]:
# call list of boolean that indicates number(False) or non-number(True)
not_num_list_NA = df_test.NA_Sales.apply(has_errors)
not_num_list_EU = df_test.EU_Sales.apply(has_errors)
not_num_list_JP = df_test.JP_Sales.apply(has_errors)
not_num_list_Other = df_test.Other_Sales.apply(has_errors)

In [ ]:
df_test_figure_err = df_test[not_num_list_NA | not_num_list_EU | not_num_list_JP | not_num_list_Other]
df_test_figure_err

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10,11,Ford Racing,PS,2001.0,Racing,Empire Interactive,480K,0.33M,0K,0.06
36,37,Advance Wars: Dual Strike,DS,2005.0,Strategy,Nintendo,0.3,0.03M,0.04,0.03
45,46,Resident Evil: Revelations 2,PS3,2015.0,Action,Capcom,60K,0.08,0.16,0.03
64,65,SD Gundam Force,GBA,2004.0,Shooter,Namco Bandai Games,0.01,0,0,0M
73,74,Teenage Mutant Ninja Turtles,XB,2003.0,Action,Konami Digital Entertainment,0.22,0.06,0,0.01M
...,...,...,...,...,...,...,...,...,...,...
16525,16526,Planet Monsters,GBA,2001.0,Action,Titus,0.01,0K,0,0
16571,16572,Koihime Enbu,PS4,2016.0,Fighting,Yeti,0,0M,0.02,0
16578,16579,Gex: Enter the Gecko,PS,1998.0,Platform,BMG Interactive Entertainment,320K,0.22,0,0.04
16580,16581,Captain Morgane and the Golden Turtle,DS,2012.0,Adventure,Reef Entertainment,0,0.03,0M,0
16591,16592,Madden NFL 2005,PS2,2004.0,Sports,Electronic Arts,4.18,0.26,0.01,80K

#####<font color = 'grey'>not working</font>

In [ ]:
test_figure_err_boolean = [not_num_list_NA | not_num_list_EU | not_num_list_JP | not_num_list_Other]
test_figure_err_boolean

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 16593    False
 16594    False
 16595    False
 16596    False
 16597    False
 Length: 16598, dtype: bool]

In [ ]:
df_test[test_figure_err_boolean]

KeyError: ignored

#####**working**

In [ ]:
# df_test_figure_err.iloc[:,-4:-1] = df_test_figure_err.iloc[:,-4:-1].str.replace("[M,K]","")
# DataFrame에선 str 안 돌아가니까, column단위에서 보기 위해서 for문 돌림

for i in range(1,5,1):
  df_test_figure_err.iloc[:,-i] = df_test_figure_err.iloc[:,-i].str.replace("[M,K]","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

[iloc[ ] to choose the last column](https://stackoverflow.com/questions/37512079/python-pandas-why-does-df-iloc-1-values-for-my-training-data-select-till)

Python list slicing syntax states that for a:b it will get a and everything upto but not including b. a: will get a and everything after it. :b will get everything before b but not b. The list index of -1 refers to the last element. :-1 adheres to the same standards as above in that this gets everything before the last element but not the last element. If you want the last element included use :.

In [ ]:
df_test_figure_err.iloc[:,-4:] #마지막 column이 나오려면 -1을 쓰면 그 전까지 나오니까, 아무것도 안 쓰면 된다

      NA_Sales EU_Sales JP_Sales Other_Sales
10         480     0.33        0        0.06
36         0.3     0.03     0.04        0.03
45          60     0.08     0.16        0.03
64        0.01        0        0           0
73        0.22     0.06        0        0.01
...        ...      ...      ...         ...
16525     0.01        0        0           0
16571        0        0     0.02           0
16578      320     0.22        0        0.04
16580        0     0.03        0           0
16591     4.18     0.26     0.01          80

[785 rows x 4 columns]

In [ ]:
df_test.sample(5)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
3769,3770,Barbie and the Three Musketeers,DS,2009.0,Adventure,Activision,0.12,0,0,0.01
10336,10337,Harukanaru Toki no Naka de 6,PSV,2015.0,Action,Tecmo Koei,0,0,0.03,0
11749,11750,Tom Clancy's EndWar,PS3,2008.0,Strategy,Ubisoft,0.32,0.22,0.01,0.1
4795,4796,Tim Burton's The Nightmare Before Christmas: O...,XB,2005.0,Adventure,Disney Interactive Studios,0.06,0.02,0,0
12722,12723,Rayman Origins,3DS,2012.0,Platform,Ubisoft,0.06,0.08,0,0.01

In [ ]:
import re

def has_errors(inputString):
  return bool(re.search('K',inputString))


for i in range(len(df_test.shape[0])):
  if df_test.NA_Sales[i].apply(has_errors) == True:
    df_test.NA_Sales[i] = df_test.NA_Sales[i].str.replace("K","")
    df_test.NA_Sales[i] = df_test.NA_Sales[i].astype({}'int')


# import re

# def has_errors(inputString):
#   return bool(re.search('K',inputString))

# df_test[df_test.NA_Sales.apply(has_errors) == True]

TypeError: ignored

####Codes to proceed 🙆

In [ ]:
df_clean = df.copy()

In [ ]:
df_clean.sample(5)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10149,10150,Midnight Club 3: DUB Edition,XB,2005.0,Racing,Take-Two Interactive,0.61,0.1,0,0.03
2891,2892,Zangeki no Reginleiv,Wii,2010.0,Action,Nintendo,0,0,0.11,0
843,844,MX vs. ATV Untamed,DS,2007.0,Racing,THQ,0.11,0,0,0.01
10253,10254,Fatal Frame II: Crimson Butterfly,PS2,2003.0,Action,Ubisoft,0.08,0.06,0,0.02
11028,11029,Ready 2 Rumble Boxing: Round 2,PS,2000.0,Fighting,Midway Games,0.29,0.2,0,0.03

*Do not drop K, M at the same time because K, M are hinting unit* </br>
*Instead, drop K and multiply 0.001 at the same time and just drop M*

In [ ]:
# for i in range(1,5,1):
#   df_clean.iloc[:,-i] = df_clean.iloc[:,-i].str.replace("M","")

# for i in range(1,5,1):
#   df_clean.iloc[:,-i] = df_clean.iloc[:,-i].str.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16598 non-null  int64
 1   Name         16598 non-null  object
 2   Platform     16598 non-null  object
 3   Year         16327 non-null  float64
 4   Genre        16548 non-null  object
 5   Publisher    16540 non-null  object
 6   NA_Sales     16598 non-null  object
 7   EU_Sales     16598 non-null  object
 8   JP_Sales     16598 non-null  object
 9   Other_Sales  16598 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB

###EDA-Duplicated

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

###EDA result

Quality Issue
- Null: year 271, Genre 50, Publisher 58 🟢
- Year data type : float to integer, drop 271 null rows (1.6% of raw data) 🟢
- Sales : K,M, unit alignment ex. 0M, 50K 🟢
- Genre : drop 50 null rows, dtype to category 🟢
- Publisher : drop 58 null rows 🟢
- Unnamed:0  : primary key to index 🟢

Structure Issue
- Sales : melt into one column 🟢

##Wrangling

In [4]:
df_clean = df.copy()

####Wrangling-Genre

[pandas.DataFrame.dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)
- DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
  - subset: Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.

In [5]:
# Drop rows that are NaN in Genre
df_clean = df_clean.dropna(subset=['Genre'])

In [6]:
df_clean.shape[0]

16548

In [7]:
# Transform data type of Genre into categorical type
df_clean.Genre = df_clean.Genre.astype('category')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
df_clean.Genre.dtype

CategoricalDtype(categories=['Action', 'Adventure', 'Fighting', 'Misc', 'Platform',
                  'Puzzle', 'Racing', 'Role-Playing', 'Shooter', 'Simulation',
                  'Sports', 'Strategy'],
, ordered=False)

###Wrangling-Year

In [9]:
df_clean.head()

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [10]:
# Drop NaN in Year
df_clean = df_clean.dropna(subset=['Year'])

In [11]:
df_clean.shape

(16277, 10)

In [12]:
# Change data type of Year into integer
df_clean.Year = df_clean.Year.astype('int')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
df_clean.Year.dtype

dtype('int64')

###Wrangling-Publisher

In [14]:
df_clean.shape

(16277, 10)

In [15]:
df_clean = df_clean.dropna(subset=['Publisher'])
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16241 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16241 non-null  int64
 1   Name         16241 non-null  object
 2   Platform     16241 non-null  object
 3   Year         16241 non-null  int64
 4   Genre        16241 non-null  category
 5   Publisher    16241 non-null  object
 6   NA_Sales     16241 non-null  object
 7   EU_Sales     16241 non-null  object
 8   JP_Sales     16241 non-null  object
 9   Other_Sales  16241 non-null  object
dtypes: category(1), int64(2), object(7)
memory usage: 1.3+ MB

###Wrangling-Sales

In [16]:
sales_list = list(df_clean)[-4:]

In [17]:
df_clean[sales_list].sample(10)

      NA_Sales EU_Sales JP_Sales Other_Sales
5680         0     0.04        0           0
6732       0.1     0.08     0.07        0.04
13402     0.06     0.02        0           0
12293        0     0.19        0        0.05
12265        0     0.02        0           0
10283      0.1     0.01        0        0.01
1373      0.76     0.36     0.05        0.18
210       0.29     0.02        0           0
16238     0.05      0.1        0        0.03
10341     0.12     0.03        0        0.01

In [18]:
import re

def has_units(inputString):
  return bool(re.search('[M,K]', inputString))

In [19]:
# M, K를 포함하는 rows가 True인 boolean 리스트
Unit_NA = df_clean.NA_Sales.apply(has_units)
Unit_EU = df_clean.EU_Sales.apply(has_units)
Unit_JP = df_clean.JP_Sales.apply(has_units)
Unit_Other = df_clean.Other_Sales.apply(has_units)

In [20]:
df_clean[Unit_NA | Unit_EU | Unit_JP | Unit_Other].query(' Year == 2011 ').sample(20)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10274,10275,Phineas and Ferb: Across the 2nd Dimension,PS3,2011,Action,Disney Interactive Studios,0.15,0.12M,0,0.05
7505,7506,Pac-Man Party 3D,3DS,2011,Misc,Namco Bandai Games,0.09,40K,0,0.01
5561,5562,Meikyuu Cross Blood: Reloaded,X360,2011,Action,Unknown,0,0,0.02,0K
14250,14251,Airport Simulator,PC,2011,Simulation,Unknown,0,0.02,0,0M
15270,15271,Tales of the World: Radiant Mythology 3,PSP,2011,Role-Playing,Namco Bandai Games,0,0,0.28,0M
8421,8422,Grease Dance,PS3,2011,Misc,505 Games,0.05,20K,0,0.01
13487,13488,Dance! It's Your Stage,PS3,2011,Misc,DTP Entertainment,0,0.02,0M,0.01
493,494,Rise of Nightmares,X360,2011,Action,Sega,0.28,0.13,0.01M,0.04
2948,2949,Army Corps of Hell,PSV,2011,Action,Square Enix,0.05,0.04M,0,0.02
2495,2496,Bulletstorm,X360,2011,Shooter,Electronic Arts,0.61M,0.32M,0.01,0.08
16347,16348,Aladdin Magic Racer,Wii,2011,Racing,Big Ben Interactive,0.01,0M,0,0
13168,13169,Rayman Origins,X360,2011,Platform,Ubisoft,0.38,0.34,0,0.08M
8632,8633,MotoGP 10/11,X360,2011,Racing,Capcom,0M,0.05,0,0.01
15706,15707,Shadow of the Colossus,PS3,2011,Action,Sony Computer Entertainment,0,0M,0.04,0
6112,6113,Jewel Time Deluxe,DS,2011,Puzzle,O-Games,0.04,30K,0,0.01
15288,15289,Dark Souls,X360,2011,Role-Playing,Namco Bandai Games,0.64,0.28,0,0.08M
1975,1976,FIFA 12,3DS,2011,Sports,Electronic Arts,0.08,0.26,0,0.05M
14707,14708,Fit in Six,Wii,2011,Sports,Ubisoft,0.11,0,0K,0.01
9091,9092,Tom Clancy's Splinter Cell Classic Trilogy HD,PS3,2011,Action,Ubisoft,0.02,0,0,0K
8827,8828,Arcana Heart 3,X360,2011,Fighting,PQube,0,0.03M,20K,0

In [21]:
df_clean.loc[[8010, 6929]]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
8010,8011,Battlefield 3,X360,2011,Shooter,Electronic Arts,4.46,2130K,0.06,0.69
6929,6930,NBA 2K12,PS3,2011,Sports,Take-Two Interactive,1610K,0.27,0.05,0.18

**(결론) 출시한 해(1년)에 팔린 장수로 보자**
> Year : 출시년도</br>
> K, M 안 붙어있는 수치 : million </br>
> [Battlefield 3 copies sold till Dec 2011](https://www.eurogamer.net/battlefield-3-sales-hit-8-million) </br>
Battlefield 3 has now sold eight million copies since launch, publisher EA has revealed.</br>
Data -> 7.34M</br>
> [NBA 2K12 copies sold till Feb 2012](https://www.gamespot.com/articles/red-dead-redemption-sells-13m-nba-2k12-hits-4m/1100-6349683/) </br>
NBA 2K12 sales have reached 4 million units </br>
Data -> 2,110K

In [22]:
df_clean_MK = df_clean[Unit_NA | Unit_EU | Unit_JP | Unit_Other]

In [23]:
# M은 떼어내기

df_clean.NA_Sales = df_clean.NA_Sales.str.replace('M',"")
df_clean.EU_Sales = df_clean.EU_Sales.str.replace('M',"")
df_clean.JP_Sales = df_clean.JP_Sales.str.replace('M',"")
df_clean.Other_Sales = df_clean.Other_Sales.str.replace('M',"")

In [24]:
df_clean[df_clean.index.isin(df_clean_MK.index)].sample(10)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
9472,9473,Darksiders II,XOne,2015,Action,Nordic Games,0.03,0.02,0,0.01
642,643,LEGO Star Wars II: The Original Trilogy,GC,2006,Action,LucasArts,0.75,0.19,0,30K
15385,15386,Thrillville: Off the Rails,X360,2007,Strategy,LucasArts,0.13,0.02,0,0.01
15808,15809,Final Fantasy XIV: A Realm Reborn,PC,2010,Role-Playing,Square Enix,0.86,0.48,0K,0.17
8992,8993,Virtua Fighter CG Portrait Series Vol.1: Sarah...,SAT,1995,Misc,Sega,0,0,0.11,0
16482,16483,Super Robot Taisen F Kanketsuhen,SAT,98,Strategy,Banpresto,0,0,0.55,0
1650,1651,Test Drive: Ferrari Legends,PS3,2012,Racing,Unknown,0.04,0,0,0K
8010,8011,Battlefield 3,X360,2011,Shooter,Electronic Arts,4.46,2130K,0.06,0.69
12158,12159,Front Mission Evolved,X360,2010,Shooter,Square Enix,100K,0.07,0.02,0.02
10389,10390,Lost Horizon,PC,2010,Adventure,Deep Silver,0,0.1,0K,0.02

In [25]:
import re
import math

for i, sales in enumerate(df_clean.NA_Sales):
  if bool(re.search('K', sales)):
    df_clean.iloc[i,6] = re.sub(r"\D","",df_clean.iloc[i,6])
    df_clean.iloc[i,6] = float(df_clean.iloc[i,6])
    df_clean.iloc[i,6] = df_clean.iloc[i,6]*0.001

for i, sales in enumerate(df_clean.EU_Sales):
  if bool(re.search('K', sales)):
    df_clean.iloc[i,7] = re.sub(r"\D","",df_clean.iloc[i,7])
    df_clean.iloc[i,7] = float(df_clean.iloc[i,7])
    df_clean.iloc[i,7] = df_clean.iloc[i,7]*0.001

for i, sales in enumerate(df_clean.JP_Sales):
  if bool(re.search('K', sales)):
    df_clean.iloc[i,8] = re.sub(r"\D","",df_clean.iloc[i,8])
    df_clean.iloc[i,8]= float(df_clean.iloc[i,8])
    df_clean.iloc[i,8] = df_clean.iloc[i,8]*0.001

for i, sales in enumerate(df_clean.Other_Sales):
  if bool(re.search('K', sales)):
    df_clean.iloc[i,9] = re.sub(r"\D","",df_clean.iloc[i,9])
    df_clean.iloc[i,9] = float(df_clean.iloc[i,9])
    df_clean.iloc[i,9] = df_clean.iloc[i,9]*0.001

# .extract, .astype 쓸 때, 앞에 iloc[i,6] 다음에 붙으면 str 특징이 없어서? 안 돌아간다. 왜 그러냐.

In [26]:
df_clean[df_clean.index.isin(df_clean_MK.index)].sample(10)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
13874,13875,Classic Road,PS,1995,Sports,Victor Interactive,0,0,0.07,0
10342,10343,NBA 2K6,XB,2005,Action,Take-Two Interactive,0.27,0.08,0,0.01
13341,13342,NASCAR Heat,PS,2000,Racing,Hasbro Interactive,0.22,0.15,0,0.03
8276,8277,Olympic Summer Games: Atlanta 1996,PS,1996,Sports,U.S. Gold,0.06,0.04,0,0.01
1895,1896,Heart no Kuni no Alice,PSP,2009,Adventure,Prototype,0,0,0.01,0
8589,8590,The Walking Dead: Survival Instinct,WiiU,2013,Shooter,Activision,0.08,0.03,0,0.01
9244,9245,Afro Samurai,PS3,2009,Action,Atari,0.12,0.05,0,0.03
5583,5584,Digimon World 2,PS,2000,Role-Playing,Namco Bandai Games,0.23,0.16,0.16,0.04
3768,3769,DaGeDar,DS,2011,Action,GameMill Entertainment,0.09,0,0,0.01
16157,16158,The Suffering,PS2,2004,Action,Midway Games,0.2,0.16,0,0.05

In [27]:
df_clean.loc[[8827]]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
8827,8828,Arcana Heart 3,X360,2011,Fighting,PQube,0,0.03,0.02,0

###Wrangling-Unnamed :0

In [28]:
df_clean.sample(10)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
11848,11849,Busou Renkin: Youkoso Papillon Park e,PS2,2007,Action,Marvelous Interactive,0,0,0.02,0
6030,6031,Chevrolet Camaro: Wild Ride,DS,2010,Racing,Storm City Games,0.02,0,0,0
5376,5377,Star Wars: Republic Commando,XB,2005,Shooter,Activision,0.48,0.17,0,0.02
2389,2390,Call of Duty: Modern Warfare: Reflex Edition,Wii,2009,Shooter,Activision,0.95,0.43,0,0.14
8309,8310,WRC 5: FIA World Rally Championship,XOne,2015,Sports,Bigben Interactive,0,0.01,0,0
10442,10443,From Russia With Love,PS2,2005,Action,Electronic Arts,0.34,0.01,0,0.06
3789,3790,"Ed, Edd n Eddy: The Mis-Edventures",GC,2005,Platform,Midway Games,0.19,0.05,0,0.01
6066,6067,Dexter's Lab Chess Challenge,GBA,2002,Misc,BAM! Entertainment,0.14,0.05,0,0
1273,1274,Star Fox: Assault,GC,2005,Shooter,Nintendo,0.68,0.18,0.19,0.03
2971,2972,Namco Museum Vol.3,PS,1996,Misc,Sony Computer Entertainment,2.28,1.55,0.16,0.06

In [29]:
df_clean.tail()

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
16593,16594,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,16595,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0,0,0
16595,16596,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,16597,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,16598,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [30]:
df_clean.shape

(16241, 10)

[pandas.DataFrame.set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)
- Set the DataFrame index using existing columns.
- DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
  ```python
  df.set_index('month')
        year  sale
  month
  1      2012    55
  4      2014    40
  7      2013    84
  10     2014    31
  ```

In [31]:
df_clean.set_index('Unnamed: 0', inplace=True)
df_clean

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Unnamed: 0,,,,,,,,,
1,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16594,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0,0.01
16595,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0,0,0
16596,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16597,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16598,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

[How to Rename Columns in Pandas (With Examples)](https://www.statology.org/pandas-rename-columns/)
- Rename Specific Columns
```python
df.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)
```

[How to rename the index of a Pandas DataFrame in Python](https://www.adamsmith.haus/python/answers/how-to-rename-the-index-of-a-pandas-dataframe-in-python)
  ```python
  df = pd.DataFrame([[1, 2], [3, 4]], columns = list("ab"))
  df = df.set_index("a")

  df.index.names = ["index"]
  ```

In [32]:
df_clean.index.names = ["Game_Key"]

In [33]:
df_clean.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Game_Key,,,,,,,,,
1,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0,0.04

###Wrangling-Sales structure

In [34]:
id_vars = list(df_clean)[0:5]
id_vars

['Name', 'Platform', 'Year', 'Genre', 'Publisher']

In [35]:
df_clean = pd.melt(df_clean, id_vars=id_vars, var_name='Region', value_name='Sales')

In [36]:
df_clean

,Name,Platform,Year,Genre,Publisher,Region,Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,NA_Sales,0.04
1,The Munchables,Wii,2009,Action,Namco Bandai Games,NA_Sales,0.17
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,NA_Sales,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,NA_Sales,0.04
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,NA_Sales,0.12
...,...,...,...,...,...,...,...
64959,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,Other_Sales,0.01
64960,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,Other_Sales,0
64961,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,Other_Sales,0.13
64962,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,Other_Sales,0.03
64963,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,Other_Sales,0.01

In [37]:
# Region 이름 정리
df_clean.Region = df_clean.Region.str.replace('_Sales','')
df_clean

,Name,Platform,Year,Genre,Publisher,Region,Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,NA,0.04
1,The Munchables,Wii,2009,Action,Namco Bandai Games,NA,0.17
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,NA,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,NA,0.04
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,NA,0.12
...,...,...,...,...,...,...,...
64959,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,Other,0.01
64960,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,Other,0
64961,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,Other,0.13
64962,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,Other,0.03
64963,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,Other,0.01

###Wrangling-Sales Data type

In [38]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64964 entries, 0 to 64963
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       64964 non-null  object
 1   Platform   64964 non-null  object
 2   Year       64964 non-null  int64
 3   Genre      64964 non-null  category
 4   Publisher  64964 non-null  object
 5   Region     64964 non-null  object
 6   Sales      64964 non-null  object
dtypes: category(1), int64(1), object(5)
memory usage: 3.0+ MB

In [39]:
df_clean.Sales = df_clean.Sales.astype('float')

In [40]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64964 entries, 0 to 64963
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       64964 non-null  object
 1   Platform   64964 non-null  object
 2   Year       64964 non-null  int64
 3   Genre      64964 non-null  category
 4   Publisher  64964 non-null  object
 5   Region     64964 non-null  object
 6   Sales      64964 non-null  float64
dtypes: category(1), float64(1), int64(1), object(4)
memory usage: 3.0+ MB

##To_CSV

In [41]:
df_clean.to_csv('vgames2_clean.csv',index=False)